details {
    margin: 0.5rem auto;
    margin-left: 1.2rem;
}
div.faq-answer {
    margin-top: 0.3rem;
    margin-left: 0.1rem;
}
summary {
    font-size: 14pt;
    cursor: pointer;
    list-style-position: outside;
}
@keyframes target-fade {
    from {
        background-color: var(--target-bg);
    }
    to {
        background-color: var(--main-bg);
    }
}
div.anchor:target + details > summary > span.faq-question {
    animation-name: target-fade;
    animation-duration: 1s;
     animation-timing-function: ease-in;
}
div.anchor {
    position: absolute;
    transform: translateY(-50vh);
}
