@media (min-width: 732px) {
    div#location-images {
        grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
    }
    a.location-image {
        grid-column-end: span 2;
    }
    a.last-image-center {
        grid-column-start: 2;
    }
}
@media (max-width: 731px) {
    div#location-images {
        grid-template-columns: 1fr;
    }
}
div#location-images {
    margin-top: 3rem;
    display: grid;
    gap: 1rem;
}
#location-images img {
    width: 100%;
}
div#location-preamble {
    font-size: 14pt;
}
