<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{- $CSS := resources.Match "css/*.css" | resources.Concat "main.css" | minify | fingerprint -}}
    <link rel="stylesheet" href="{{ $CSS.RelPermalink }}" media="all">
    {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    {{- $title := print (partial "title" .) " | " .Site.Title -}}
    {{- if .IsHome -}}{{- $title = .Site.Title -}}{{- end -}}
    <title>{{ $title }}</title>
</head>
