<div id="language-switcher">
{{- if gt (len .AllTranslations) 1 -}}
    {{- $active := "" -}}
    {{- $next := "" -}}
    {{- $all := slice -}}
    {{- range .AllTranslations -}}
        {{- $all = $all | append .Site.Language -}}
        {{- if eq .Site.Language $.Site.Language -}}
            {{- $active = . -}}
        {{- else if and $active (not $next) -}}
            {{- $next = . -}}
        {{- end -}}
    {{- end -}}
    {{- if not $next -}}
        {{- $next = index .AllTranslations 0 -}}
    {{- end -}}
    {{- $all = replace (delimit $all " ⇄ ") $active.Site.Language (printf "<span class=\"active\">%s</span>" $active.Site.Language) | safeHTML}}
    <a href="{{ $next.RelPermalink }}">{{ $all }}</a>
{{- else }}
    {{ .Site.Language }} 
{{- end -}}
</div>
