{{- $geourl := printf "geo:%f,%f?q=%f,%f(%s (%s))" .Params.Latitude .Params.Longitude .Params.Latitude .Params.Longitude .Title .Params.District | safeURL -}}
{{- $mapurl := printf "https://www.openstreetmap.org/?mlat=%f&mlon=%f&zoom=12" .Params.Latitude .Params.Longitude | safeURL -}}
{{- $mapname := "OpenStreetMap" -}}
{{- if isset .Site.Params "umap" -}}
{{- $mapurl = (printf "%s?feature=%s (%s)" .Site.Params.umap .Title .Params.District | safeURL) -}}
{{- $mapname = .Site.Params.Location -}}
{{- end }}
<div id="location-preamble">
    <p>
        <b>{{ i18n "full_address" }}:</b><br>
        {{ .Params.Street }}<br>
        {{ .Params.Zipcode }} {{ .Params.City }}<br><br>
        <a href="{{ $mapurl }}" class="location" target="_blank" rel="noopener">{{ i18n "show_on_map" $mapname }}</a><br><br>
        <a href="{{ $geourl }}" class="location" target="_blank" rel="noopener">{{ i18n "show_in_maps_app" }}</a>
    </p>
</div>
<div id=location-description>
{{ .Content }}
</div>
{{ partial "locationsingleimages" . }}
