{{ define "main" }}

{{ $pastevents := slice }}
{{ $todayevents := slice }}
{{ $futureevents := slice }}
{{ range .Pages.ByDate }}
    {{ if gt (sub now.Unix .Date.Unix) 86400 }}
        {{ $pastevents = $pastevents | append . }}
    {{ else if gt (sub now.Unix .Date.Unix) 0 }}
        {{ $todayevents = $todayevents | append . }}
    {{ else }}
        {{ $futureevents = $futureevents | append . }}
    {{ end }}
{{ end }}
{{ $allevents := slice $todayevents $futureevents $pastevents }}

<h1>{{ partial "title" . }}</h1>
<div id="photo-grids-container">
    {{ range $index, $events := $allevents }}
        {{ $key := "upcoming" }}
        {{ $dateformat := "Monday, 02.01." }}
        {{ if eq $index 0 }}
            {{ $key = "today" }}
        {{ else if eq $index 2 }}
            {{ $key = "past" }}
            {{ if gt (len $events) 0 }}
                {{ $events = first 8 $events.Reverse }} 
            {{ end }}
        <hr>
        {{ end }}
        <h2>{{ i18n $key }}</h2>
        <div class="photo-grid {{ $key }}">
            {{ if eq (len $events) 0 }}
                {{ i18n "no_entries" }}
            {{ end }}
            {{ range $events }} 
                {{ $date := time.Format $dateformat .Date }}
                {{ $time := .Params.Starttime }}
                {{ if .Params.Endtime }}
                    {{ $time = printf "%s-%s" $time .Params.Endtime }}
                {{ end }}
                <a href="{{ .RelPermalink }}">
                    <figure class="photo-grid-cell">
                        {{ $location := .Site.GetPage (printf "/locations/%s" .Params.Location) }}
                        {{ partial "locationimg" $location }}
                        <figcaption>
                                <h4 class="caption-event-location">{{ $location.Title }}</h4>
                                <h4 class="caption-event-datetime">{{ $date }}, {{ $time }}</h4>
                                <h3 class="caption-event-name">{{ .Title }}</h3>
                        </figcaption>
                    </figure>
                </a>
            {{ end }}   
        </div>
    {{ end }}
    <div id="archive-link">
        <a href="/categories/event">{{ i18n "show_archive" }}</a>
    </div>
</div>

{{ end }}
