{{ define "main" }}

{{- $location := .Site.GetPage (printf "/locations/%s" .Params.Location) -}}
{{- $mapurl := printf "https://www.openstreetmap.org/?mlat=%f&mlon=%f&zoom=12" $location.Params.Latitude $location.Params.Longitude | safeURL -}}
{{- if isset .Site.Params "umap" -}}
{{- $mapurl = (printf "%s?feature=%s (%s)" .Site.Params.umap $location.Title $location.Params.District | safeURL) -}}
{{- end -}}

<h1>{{ .Title }}</h1>
<p id=event-meta>
    <b>{{ i18n "date" }}:</b> {{ time.Format "Monday, 02.01.2006" .Date }}<br>
    <b>{{ i18n "time" }}:</b> {{ .Params.Starttime }}{{- if ne .Params.Endtime "" }}-{{ .Params.Endtime }}{{ end }}
</p>
<p id=event-description>
{{ .Content }}
</p>

<div id="event-location-preview">
    <h3><b>{{ .Site.Params.Location }}:</b>
        <a href="{{ $location.RelPermalink }}">{{ $location.Title }} ({{ $location.Params.District }})</a>
    </h3>
    <br>
    <b>{{ i18n "full_address" }}:</b><br><a href="{{ $mapurl }}">{{ $location.Params.Street }}<br>{{ $location.Params.Zipcode }} {{ $location.Params.City }}</a>
    
    {{ partial "locationsingleimages" $location }}

</div>

{{ partial "paginationsingle" . }}

{{ end }}
