{{ $nextups := slice }}
{{ range (where .Site.RegularPages.ByDate "Type" "events") }}
    {{ if lt (sub now.Unix .Date.Unix) 86400 }}
        {{ $nextups = $nextups | append . }}
    {{ end }}
{{ end }}
{{ if gt (len $nextups) 0 }}
<div data-nosnippet id="nextup">
    <h3>{{ i18n "nextup" }} {{ $.Site.Params.Event }}s</h3>
    <p>
        {{ range $nextups }}
        {{ if gt (sub now.Unix .Date.Unix) 1 }}
        <a href="{{ .RelPermalink }}" class="today">{{ i18n "today" }}, {{ .Params.Starttime }} – {{ .Title }}</a>
        {{ else }}
        <a href="{{ .RelPermalink }}">{{ time.Format "Monday, 02.01." .Date }} – {{ .Title }}</a>
        {{ end }}
        <br>
        {{ end }}
    </p>
</div>
{{ end }}
